/*! reset */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/** Utils */

.container{
    max-width: 65%;
    margin: 0 auto;
}

/* header */

header{
    height: 100px;
    margin-bottom: 70px;
}

h1{
    display: inline;
    font-size: 3rem;
    font-weight: 900;
}

#logo{
    height: 70px;
    vertical-align: middle;
    padding-left: 20px;
    margin-bottom: 30px;
}

/*? main */

main{
    font-size: 1.2rem;
}

button{
    padding: 10px 20px;
    border-radius: 10px;
    margin-right: 2px;
    border: 1px solid;
}


.add-section{
    opacity: 20%;
}

ul{
    list-style: none;
}

h2{
    margin-top: 40px;
    font-weight: 900;
}

.symbol{
    border: 2px solid;
    border-radius: 100%;
    padding:2px;
    margin-right: 8px;
    font-size: 0.6rem;
    text-align: center;
    font-weight:bolder;
}

.cross{
    color:#e1bab7;
    border-color: #e1bab7;
}

.check{
    color: #a0cdc0;
    border-color:#a0cdc0 ;
}

li{
    margin-bottom: 25px;
    margin-top:6px;
}

/* section */

.section{
    color: white;
    border: 0px solid transparent;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 0.7rem;
}

/*colori */

.bg-blue{
    background-color: #3eaff0;
    color: white;
    border: transparent;
}

.bg-purple{
    background-color: #9a74e5;
}

.bg-cyan{
    background-color: #65bfa7;
}

.bg-orange{
    background-color: #f1a12c;
}

.bg-pink{
    background-color: #d561a0;
}

.bg-green{
    background-color: #afc72a;
}