
body{
    margin: 0;
}

/* Utils */

.container{
    max-width: 65%;
    margin: 0 auto;
}

/* header */

header{
    height: 100px;
    margin-bottom: 70px;
}

h1{
    display: inline;
    font-size: 3rem;
    font-weight: 900;
}

#logo{
    height: 70px;
    vertical-align: middle;
    padding-left: 20px;
    margin-bottom: 30px;
}

/* main */
button{
    padding: 10px 20px;
    border-radius: 10px;
    margin-right: 2px;
    border: 1px solid;
}

.add-task{
    background-color: #3eaff0;
    color: white;
    border: transparent;
}

.add-section{
    border:1px solid #d8d8d8;
    color: #d8d8d8;
}